.DS_Store
*.sqlite
*.sqlite3
*/*.sqlite
*/*.sqlite3
*.pyc
__pycache__
setup.txt
env/*
bin
include
lib
local
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
media/
*/media/
.idea/
/static/
/digest/
.vscode/
